<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>EatandShare</title>

    <link href="/css/style.css" rel="stylesheet"/>

</head>

<body>

<header>
    <h2 class="logo">EatAndShare</h2>
    <nav class="navigation">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="/services">Services</a>
        <!-- If logged in, show icon -->
        <div class="icon-login" th:if="${loggedIn}">
            <ion-icon name="person-circle-outline"></ion-icon>
            <ul class="dropdown">
                <li><p th:text="'Username: ' + ${username}"></p></li>
                <li><p th:text="'Email: ' + ${email}"></p></li>
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
        <!-- If not logged in, show login button -->
        <button class="btnLogin-popup" th:if="${!loggedIn}">Login</button>
    </nav>
</header>

<div class="main-content" th:if="${!loggedIn}">
    <div
            class="wrapper"
            th:classappend="${showRegister} ? 'active active-popup' : 'active-popup'"
    >
        <span class="icon-close"><ion-icon name="close"></ion-icon></span>

        <div class="form-box Login">
            <h2>Login</h2>
            <form method="post" th:action="@{/}" th:object="${loginForm}">
                <div class="input-box">
                    <span class="icon"><ion-icon name="person"></ion-icon></span>
                    <input required th:field="*{username}" th:id="login_username" type="text"/>
                    <label class="user-align">Username</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input required th:field="*{password}" th:id="login_password" type="password"/>
                    <label class="password-align">Password</label>
                </div>
                <div class="remember-forgot">
                    <a href="#">Forgot Password?</a>
                </div>
                <button class="btn" type="submit">Login</button>
                <div th:if="${#fields.hasGlobalErrors()}">
                    <p
                            style="color: red"
                            th:each="err : ${#fields.globalErrors()}"
                            th:text="${err}"
                    ></p>
                </div>
                <div class="login-register">
                    <p>
                        Don't have an account?
                        <a class="register-link" href="#">Register</a>
                    </p>
                </div>
            </form>
        </div>

        <div class="form-box register">
            <h2>Registration</h2>
            <form
                    method="post"
                    th:action="@{/register}"
                    th:object="${registerForm}"
            >
                <div class="input-box">
                    <span class="icon"><ion-icon name="person"></ion-icon></span>
                    <input required th:field="*{firstName}" type="text"/>
                    <label>First Name</label>
                </div>

                <div class="input-box">
                    <span class="icon"><ion-icon name="person"></ion-icon></span>
                    <input required th:field="*{lastName}" type="text"/>
                    <label>Last Name</label>
                </div>

                <div class="input-box">
                    <span class="icon"><ion-icon name="person"></ion-icon></span>
                    <input required th:field="*{username}" type="text"/>
                    <label class="user-align">Username</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input required th:field="*{email}" type="email"/>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input required th:field="*{password}" th:id="password" type="password"/>
                    <label class="password-align">Password</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input id="confirm_password" required type="password"/>
                    <label class="confirm-align">Confirm Password</label>
                </div>





                <button class="btn" disabled type="submit">Register</button>
                <p id="match_message"></p>
                <div class="error-message" th:if="${error}">
                    <p style="color: red" th:text="${error}"></p>
                </div>
                <div class="login-register">
                    <p>
                        Already have an account?
                        <a class="login-link" href="#">Login</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="tile-catagory" th:if="${loggedIn}">
    <div class="button-tile">
        <a class="catbtn1" href="#">Breakfast</a>
        <a class="catbtn2" href="#">Lunch</a>
        <a class="catbtn3" href="#">Dinner</a>
        <a class="catbtn4" href="#">Salad</a>
        <a class="catbtn5" href="#">Dessert</a>
    </div>
</div>
<script
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
        type="module"
></script>
<script
        nomodule
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>
<script src="/js/script.js"></script>
</body>
</html>
