<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EatandShare</title>

    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      <h2 class="logo">EatAndShare</h2>
      <nav class="navigation">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="/services">Services</a>
          <!-- If logged in, show icon -->
          <div th:if="${loggedIn}" class="icon-login">
              <ion-icon name="person-circle-outline"></ion-icon>
              <ul class="dropdown">
                  <li><p th:text="'Username: ' + ${username}"></p></li>
                  <li><p th:text="'Email: ' + ${email}"></p></li>
                  <li><a th:href="@{/logout}">Logout</a></li>
              </ul>
          </div>
          <!-- If not logged in, show login button -->
        <button th:if="${!loggedIn}" class="btnLogin-popup">Login</button>
        
      </nav>
    </header>

    <div th:if="${!loggedIn}" class="main-content">
      <div class="wrapper" th:classappend="${showRegister} ? 'active active-popup' : 'active-popup'">
        <span class="icon-close"><ion-icon name="close"></ion-icon></span>

        <div class="form-box Login">
          <h2>Login</h2>
          <form
            th:action="@{/}"
            th:object="${loginForm}"
            method="post"
          >
            <div class="input-box">
              <span class="icon"><ion-icon name="person"></ion-icon></span>
              <input type="text" required th:field="*{username}" />
              <label class="user-align">Username</label>
            </div>
            <div class="input-box">
              <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
              <input type="password" required th:field="*{password}" />
              <label class="password-align">Password</label>
            </div>
            <div class="remember-forgot">
              <a href="#">Forgot Password?</a>
            </div>
            <button type="submit" class="btn">Login</button>
              <div th:if="${#fields.hasGlobalErrors()}">
                  <p th:each="err : ${#fields.globalErrors()}"
                     th:text="${err}"
                     style="color:red;"></p>
              </div>
            <div class="login-register">
              <p>
                Don't have an account?
                <a href="#" class="register-link">Register</a>
              </p>
            </div>
          </form>
        </div>

        <div class="form-box register">
          <h2>Registration</h2>
          <form th:action="@{/register}"
                th:object="${registerForm}"
                method="post"
          >
            <div class="input-box">
              <span class="icon"><ion-icon name="person"></ion-icon></span>
              <input type="text" required th:field="*{username}"/>
              <label class="user-align">Username</label>
            </div>
            <div class="input-box">
              <span class="icon"><ion-icon name="mail"></ion-icon></span>
              <input type="email" required th:field="*{email}" />
              <label>Email</label>
            </div>
            <div class="input-box">
              <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
              <input type="password" required th:field="*{password}" />
              <label class="password-align">Password</label>
            </div>
            <div class="term-agree">
              <label
                ><input type="checkbox" /> I agree to terms & conditions</label
              >
            </div>
            <button type="submit" class="btn">Register</button>
              <div th:if="${error}" class="error-message">
                  <p th:text="${error}" style="color:red;"></p>
              </div>
            <div class="login-register">
              <p>
                Already have an account?
                <a href="#" class="login-link">Login</a>
              </p>
            </div>
          </form>
        </div>
      </div>
      <div class="tile-catagory">
        <div class="button-tile">
          <a href="#" class="catbtn1">Breakfast</a>
          <a href="#" class="catbtn2">Lunch</a>
          <a href="#" class="catbtn3">Dinner</a>
          <a href="#" class="catbtn4">Salad</a>
          <a href="#" class="catbtn5">Dessert</a>
        </div>
      </div>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="/js/script.js"></script>
  </body>
</html>
