<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Change • EatAndShare</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<!-- ===== HEADER: Navigation bar and login state display ===== -->
<header>
    <h2 class="logo">EatAndShare</h2>
    <nav class="navigation">
        <a th:href="@{/}">Home</a>
        <a th:href="@{/about}">About</a>
        <a th:href="@{/contact}">Contact</a>
        <a href="/services">Share</a>

        <!-- If user is logged in, show profile icon and dropdown -->
        <div class="icon-login" th:if="${loggedIn}">
            <ion-icon name="person-circle-outline"></ion-icon>
            <ul class="dropdown">
                <li><a href="/profile">My Profile</a></li>
                <li><a href="/password">Password</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>


        <!-- If user is not logged in, show login button -->
        <button class="btnLogin-popup" th:if="${!loggedIn}">Login</button>
    </nav>
</header>

<div class="contact-section">
    <h1>Contact Us</h1>
    <p>Have questions? Feedback? Recipe suggestions? We’d love to hear from you.</p>

    <form action="https://formspree.io/f/mqagpowr" method="POST" class="contact-form">

        <input type="text" name="name" placeholder="username" required>

        <input type="password" name="email" placeholder="old password" required>

        <textarea name="password" rows="5" placeholder="new password" required></textarea>

        <button type="submit">Send Message</button>
    </form>
</div>

<footer class="footer">
    <h2>EatAndShare</h2>
    <p>Cook • Share • Enjoy</p>
    <small>&copy; 2025 EatAndShare — All Rights Reserved</small>
</footer>


<!-- ===== ICONS & SCRIPTS ===== -->
<script src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" type="module"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>
